<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form th:action="@{/login}" method="post">
        <div>
            <label for="emailid">Email:</label>
            <input type="text" id="emailid" name="emailid"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"/>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
    <p th:text="${message}"></p>
    <p>New User? <a th:href="@{/register}">Register Here</a></p>
</body>
</html>
